SERVER_PORT=8080
SERVER_MODE=release

DB_USE_CLOUD_SQL=false

DB_MASTER_HOST=localhost
DB_MASTER_PORT=5432
DB_MASTER_USER=postgres
DB_MASTER_PASSWORD=postgres
DB_MASTER_NAME=audio_storage

DB_REPLICA_HOST=localhost
DB_REPLICA_PORT=5432
DB_REPLICA_USER=postgres
DB_REPLICA_PASSWORD=postgres
DB_REPLICA_NAME=audio_storage

STORAGE_ROOT_FOLDER=upload